@{
    Layout = null;
    
}
<div style="height: 20px;">&nbsp;</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div style="padding-bottom: 20px;">
                <span style="font-size: 3.0em;" data-ng-click="goToForum()" class="glyphicon glyphicon-circle-arrow-left"></span>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Topic Name</th>
                        <th>Posts</th>
                        <th>Last Post</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="topic in topics">
                        <td></td>
                        <td data-ng-click="openTopic(topic.id)">{{ topic.title }}</td>
                        <td>{{ topic.totalPosts }}</td>
                        <td>None</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <input type="text" class="form-control" name="title" style="max-width: 100%" placeholder="Title" data-ng-model="title" />
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" style="max-width: 100%" placeholder="Body" data-ng-model="body"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" data-ng-click="createTopic()">Post</button>
            </div>
        </div>
    </div>
</div>