@using System.Web.UI.WebControls
@{
    Layout = null;
}

<style>
</style>


<script>
    function scrollToPage(page) {
        var target = $('#group' + page);
        if (target.length) {
            $('.parallax').stop();
            $('.parallax').animate({
                scrollTop: $('.parallax').scrollTop() + target.offset().top
            }, 1000);
        }
    }

    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                scrollToPage(this.hash.slice(1));
            }
        });
    });
</script>

<img src="/Content/banner.png" class="header-image"/>
<div class="container body-content">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Raid Progression</div>
                <div class="panel-body">
                    <table class="table">
                        <tr data-ng-repeat="bossProgress in raidProgress">
                            <td>{{ bossProgress.Name }}</td>
                            <td><div class="progression-orb" data-ng-class="{green: bossProgress.NormalKills > 0}">N</div></td>
                            <td><div class="progression-orb" data-ng-class="{green: bossProgress.HeroicKills > 0}">H</div></td>
                        </tr>
                    </table>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 style="padding: 5px 0 0 5px;">Live Streams</h5>
                    <p>There are currently no live streams active!</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="recruitment">
                <div class="panel panel-default">
                    <div class="panel-heading">Recruitment</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">Warrior</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-tank recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-melee recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Paladin</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-tank recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-melee recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-healer recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Hunter</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-ranged recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Rogue</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-melee recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Priest</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-ranged recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-healer recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Deathknight</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-tank recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-melee recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Shaman</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-melee recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-ranged recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-healer recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Mage</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-ranged recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Warlock</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-ranged"></div>
                            </div>
                            <div class="col-sm-6">Monk</div>
                            <div class="col-sm-6">
                                <div class="recruitment-orb recruitment-orb-tank recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-melee recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-healer recruitment-orb-full"></div>
                            </div>
                            <div class="col-sm-6">Druid</div>
                            <div class="col-sm-6" style="min-width: 120px;">
                                <div class="recruitment-orb recruitment-orb-tank recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-melee recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-ranged recruitment-orb-full"></div>
                                <div class="recruitment-orb recruitment-orb-healer recruitment-orb-full"></div>
                            </div>
                        </div>

                        <div style="padding-top: 20px;">
                            <p>Feel you have what it takes to join our ranks?</p>
                            <p style="text-align: center;"><a href="/#/recruitment/apply" class="btn btn-success btn-lg">Apply Now!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>