@{
    Layout = null;
    
}
<div class="container" style="padding-top: 50px;">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 0 50px 20px 50px">
                <div data-ng-show="application == undefined && application != null" style="text-align: center;">
                    <h1><span class="glyphicon glyphicon-refresh loading-icon"></span></h1>
                </div>
                <div data-ng-show="application == null" style="display: none; text-align: center">
                    <h1>Application Not Found</h1>
                </div>
                <div data-ng-show="application != undefined">
                    <h1>View Application</h1>
                    <div class="row" data-ng-repeat="(field, value) in application.Submission">
                        <div class="form-group">
                            <h4>{{ toTitleCase(field) }}</h4>
                            {{ value }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>Status:</label><br />
                            <div class="btn-group">
                                <label class="btn btn-default" ng-class="{'active': application.Status == '0', 'btn-success': application.Status == '0'}">
                                    <input type="radio" data-ng-model="application.Status" data-ng-change="updateStatus()" name="status" data-ng-value="0">Accepted
                                </label>
                                <label class="btn btn-default" ng-class="{'active': application.Status == '1', 'btn-warning': application.Status == '1'}">
                                    <input type="radio" data-ng-model="application.Status" data-ng-change="updateStatus()" name="status" data-ng-value="1">Undecided
                                </label>
                                <label class="btn btn-default" ng-class="{'active': application.Status == '2', 'btn-danger': application.Status == '2'}">
                                    <input type="radio" data-ng-model="application.Status" data-ng-change="updateStatus()" name="status" data-ng-value="2">Declined
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
