body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background: url('/Content/home-00.jpg') no-repeat center center fixed;*/
    background-color: #f1f1f1;
    background-image: url('/Content/background.png');
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 20px 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#raidProgress li {
    display: inline;
    list-style-type: none;

}

#raidProgress li > div {    
    margin: 20px;
    border: 1px solid gray;
    float:left;
    width: 10%;
    min-width: 75px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

#raidProgress li > div > .icon {
    background-color: transparent;
    color: darkgray;
}

#raidProgress li > div > div {
    background-color: #b94a48;
    border-bottom: 1px solid black;
    color: white;
}

#raidProgress li > div > div:last-child {
    border-radius: 0 0 5px 5px;
}

#raidProgress li > div > div.green {    
    background-color: green;
}

.post-data img {
    max-width: 100%;
}

.post-data blockquote {
    font-size: inherit;
}

.last-post-author {
    text-align: right;
}

.board-row > td {
    text-align: center;
}

.board-row > td:nth-child(2), .board-row > td:last-child {
    text-align: left;
}

.board-row > td:nth-child(2) {
    cursor: pointer;
}

.board-row > td:last-child {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-group input[type=radio] {
    display: none;
}

.applications td:nth-child(2) {
    cursor: pointer;
}

.forum-unread td {
    background-color: antiquewhite;
}

.loading-icon {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(360deg);}
}
 
@-moz-keyframes spin {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}

.panel {
    background-color: #120501;
}

table,
.navbar {
    background-color: #0b0300;
}

.table-striped>tbody>tr:nth-child(odd) {
    background-color: #0e0401;
}

th,
.panel-default>.panel-heading {
    background-color: black;
}

.btn {
    border-color: red;
    background-color: black;
}

input.form-control {
    background-color: black;
}

textarea.form-control {
    background-color: black;
}