body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('/Content/home-00.jpg') no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#raidProgress li {
    display: inline;
    list-style-type: none;

}

#raidProgress li > div {    
    margin: 20px;
    border: 1px solid gray;
    float:left;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

#raidProgress li > div > .icon {
    background-color: transparent;
    color: darkgray;
}

#raidProgress li > div > div {
    background-color: #b94a48;
    border-bottom: 1px solid black;
    color: white;
}

#raidProgress li > div > div:last-child {
    border-radius: 0 0 5px 5px;
}

#raidProgress li > div > div.green {    
    background-color: green;
}

.post-data img {
    max-width: 100%;
}