body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background: url('/Content/home-00.jpg') no-repeat center center fixed;*/
    background-color: #f1f1f1;
    background-image: url('/Content/background.png');
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 20px 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.progression-orb {
    background-color: red;
    border: 1px solid white;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.green {    
    background-color: green;
}

.post-data img {
    max-width: 100%;
}

.post-data blockquote {
    font-size: inherit;
}

.last-post-author {
    text-align: right;
}

.board-row {
    height: 75px;
}

.board-row:hover > td {
    background-color: #3e0d05;
}

.table > tbody > tr:hover > td {
    background-color: #3e0d05;
}

.board-row > td {
    text-align: center;
}

.board-row > td:nth-child(2), .board-row > td:last-child {
    text-align: left;
}

.board-row > td:nth-child(2) {
    cursor: pointer;
}

.board-row > td:last-child {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-group input[type=radio] {
    display: none;
}

.applications td:nth-child(2) {
    cursor: pointer;
}

.forum-unread td {
    background-color: #2d0903;
}

.loading-icon {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(360deg);}
}
 
@-moz-keyframes spin {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}

.header-image {
    width: 100%;
    border-bottom: 2px solid black;
}

.panel {
    background-color: #120501;
    color: #888888;
}

table,
.navbar {
    background-color: #0b0300;
}

.table-striped>tbody>tr:nth-child(odd) {
    background-color: #0e0401;
}

th,
.panel-default>.panel-heading {
    background-color: black;
}

.btn {
    border-color: red;
    background-color: black;
}

input.form-control {
    background-color: black;
}

textarea.form-control {
    background-color: black;
}


.raid-progression {
    background-color: #0A0A0A;
    color: #DDDDDD;
}

.recruitment {
    color: #0A0A0A;
}

.recruitment .positions {
    column-count: 2;
    column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
}

.recruitment h2 {
    text-align: right;
}

.recruitment-orb {
    border: 1px solid darkgray;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: 100%;
}

.recruitment-orb-tank {
    background-color: blue;
    background-image: url('/Content/icon-tank.png');
}

.recruitment-orb-melee {
    background-color: red;
    background-image: url('/Content/icon-melee.png');
}

.recruitment-orb-ranged {
    background-color: red;
    background-image: url('/Content/icon-ranged.png');
}

.recruitment-orb-healer {
    background-color: green;
    background-image: url('/Content/icon-healer.png');
}

.recruitment-orb-full {
    opacity: 0.4;
}

.recruitment-container {
    padding-left: 10px;
    border: 1px solid darkgray;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(50,50,50,0), rgba(50,50,50,0.75), rgba(50,50,50,0)); 
    background-image: -moz-linear-gradient(left, rgba(50,50,50,0), rgba(50,50,50,0.75), rgba(50,50,50,0)); 
    background-image: -ms-linear-gradient(left, rgba(50,50,50,0), rgba(50,50,50,0.75), rgba(50,50,50,0)); 
    background-image: -o-linear-gradient(left, rgba(50,50,50,0), rgba(50,50,50,0.75), rgba(50,50,50,0)); 
}

.md-editor .md-footer, .md-editor>.md-header {
    background: #0D0401;
}

.md-editor>textarea,
.md-editor>textarea:focus {
    background: #000;
    padding: 10px;
}


.md-editor>.md-preview {
    background: #120501;
    padding: 10px;
}